/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4caf50;
  color: white;
}
img {
  height: 200px;
  width: 200px;
  margin: 20px;
  display: inline-block;
}
footer {
  float: left;
}
button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 9px #999;
}
button:hover {
  background-color: #3a8d3c; /* Green */
  color: white;
}
button:active {
  background-color: #000000; /* Green */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
input {
  margin: 15px;
  width: 8vw;
  height: 1.5vw;
  font-size: larger;
  /* width: 100%; */
}
body {
  background-color: rgb(241, 241, 241);
  text-align: justify;
}
